<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎页</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <svg id="logo" width="70" height="21" viewBox="0 0 70 21" xmlns="http://www.w3.org/2000/svg">
                    <title>
                        Samuel
                    </title>
                </svg>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/user/welcome" target="_blank">Home</a>
            </li>
            <li>
                <a href="/user/signin">Log in</a>
            </li>
            <li>
                <a href="/user/signup">Sign up</a>
            </li>
        </ul>
    </div>
</nav>
<div class="header" style="background-image: url(http://static.bootcss.com/expo/img/d/dd/2de797545de56274f03a5920eb3a1.jpg)">
    <div class="logoimg">
        <a href="http://expo.bootcss.com" title="Bootstrap 优站精选"><img src="http://image.youzhan.org/e/35/22ccaf4c24ef690f7767e6a3ba5f0.png" alt="Bootstrap 优站精选" width="78"></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="logotxt"><h1><a href="http://expo.bootcss.com">Bootstrap</a></h1></div>
                <h2 class="site-name text-center">优站精选<span>www.YouZhan.org</span></h2>

            </div>
        </div>
    </div>
</div>

<script>

//alert('dfdf');

</script>
</body>
</html>